<!DOCTYPE html>
<html>
<head>
  <title>NkuProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <div class="navbar-brand smaller">
        <%= link_to "Pantry Helper", root_path %>
      </div>
    </div>

    <div class="collapse navbar-collapse navbar-right">
      Welcome!
    </div>
  </nav>

  <%= yield %>
</div>
</body>
</html>
